<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "css/styles.css" rel = "stylesheet"/>
    <title>API Rest con vistas XILFTEN Movies</title>
</head>
    <body>
    <div>
        <h1>API REST XILTEN Movies</h1>
        <hr>
        <h3>Get all Movies</h3>
        <p>Para obtener todas las películas usa la url
            http://localhost:8080/movies </p>
        <h3>Get Movie by id</h3>
        <p>Para obtener una película por id usa la url
            http://localhost:8080/movies/{id} </p>

        <h3><a href="/add">Añadir Pelicula</a></h3>
        <h3><a href="/update">Editar Pelicula</a></h3>
        <h3><a href="/delete">Eliminar Pelicula</a></h3>
    </div>


        <p th:if="${message != null}" th:text="${message}"></p>
    </body>
</html>